{% extends 'base.html' %}
{% block title %}Idea de comida{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center h-100"s>
            <div class="card text-center">
                <div class="card-header">🍔Idea de comida🍔</div>
                    <div class="card-body">
                        <h5 class="card-title">Ingresa los ingredientes deseados seguidos por una coma</h5>
                        <form method="POST" action="{% url 'meal_maker' %}">
                            {% csrf_token %}
                            <div class="form-outline m-2 mx-auto">
                                <input type="text" id="form12" class="form-control" name="ingredientes" />
                                <label class="form-label" for="form12">Ingredientes</label>
                            </div>
                            <button type="submit" class="btn btn-primary">✨ Crear ✨</button>
                        </form>
                    </div>
                    <div class="card-footer text-muted">Powered by ChatGPT-3.5Turbo <br> &  <br>Isidro Emir</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}