{% extends 'base.html' %}
{% block title %}✨Tu plato!✨{% endblock %}
{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center h-100"s>
            <div class="card text-center">
                <div class="card-header"><a href="/">🍔Idea de comida🍔</a></div>
                    <div class="card-body">
                        <p> {% autoescape off %} {{menu}} {% endautoescape %}</p>
                    </div>
                    <div class="card-footer text-muted">Powered by ChatGPT-3.5Turbo <br> &  <br>Isidro Emir</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
